* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navigation {
  background-color: #000;
  color: #fff;
  padding-inline: 1.875rem;
  padding-block: 1.1875rem;
  &__container {
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }
  &__menu-group {
    display: flex;
    align-items: center;
    &--left {
      gap: 0.8125rem;
    }
  }
  &__page-title {
    margin-top: 3px;
    padding-top: 3px;
    padding-left: 0.8125rem;
    line-height: 1.4375rem;
    border-left: 0.125rem solid #fff;
  }
  &__logo {
    height: 32px;
    aspect-ratio: 200 / 51;
  }
}
